<%- include('../partials/header') %>

    <p>Even when I was a child, I could see the obvious impact that advancing technology was making on the world I was
        making my way through. wanted to be a part of that. To me, coding and software development is my path to
        building wonders, and accomplishing things that others thought were impossible. I want to use the unique
        perspective that I possess, as a person on the Autism spectrum, to find new and innovative solutions to old
        problems. I’ve seen what technology has done over the past 30 years. I want to be a part of what it does in the
        next 30.
    </p>


    <%- include('../partials/footer') %>