* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  background-color: antiquewhite;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
  "nav"
  "main"
}

body > nav {
  grid-area: nav;
  background-color: #631414;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}


footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: red;
  color: white;
  text-align: center;
}

footer > a {
  color: white;
  margin: 10px;
}


main > h1{
  text-align: center;
  width: fit-content;
  height: fit-content;
}


main{
  display: flex;
  margin: 10px;
  border: 5px ridge #631414;
  padding: 10px;
}

nav > a{
  color: white;
  margin: 10px;
}

#logo{
  border-radius: 50%;
  width: 40px;
  margin-right: auto;
  object-fit: contain;
  align-self: left;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#side{
  border: 1px solid black;
  width: 20%;
  height: 20%;

}

#display{
  border: 1px solid black;
  width: 20%;
  height: 20%;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form *{
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

.rating {
  width: 180px;
}

.rating__star {
  cursor: pointer;
  color: #dabd18b2;
}
